header{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:50px;   
    background-color:lightgray;
}
.title{
    float:left;
    line-height:50px;
    padding-left:20px;
}
header ul{
    float:right;
}
header ul li{
    float:left;
    list-style:none;
    padding-right:10px;
}
main{
    clear:both;
}
.main-conteiner{
    width:80%;
    margin:0 auto;
    margin-top:60px;
}
.left{
    display:inline-block;
    float:left;
    width:70%;
    height:500px;
    text-align:center;
    padding-top:30px;
    background-color:darkgray;
}
.left .year{
    float:right;
    font-size:10px;
    color:black;
    margin-right:80px;
}
.right{
    float:left;
    width:30%;
    height:530px;
    background-color:antiquewhite;
}
.right .info{
    line-height:30px;
    padding:30px;
}
footer{
    position:fixed;
    width:100%;
    bottom:0px;
    left:0px;
    height:30px;
    font-size:10px;
    line-height:30px;
    text-align:center;
    background-color:gray;
}